@media (max-width: 480px) {
    #mainWrapper {
        background: center center fixed;
        background-color: #fff;
    }
    #content {}
    /*header content*/
    .headSpace {
        width: 100%;
        height: 0px;
    }
    .headerContainer {
        width: 100%;
        height: 90px;
        background-color: rgba(0, 0, 0);
    }
    .headerContainer ul {
        margin-top: -25px;
    }
    .headerContainer li {
        font: bold 17px/23px "Cabin", sans-serif;
        margin: -5px 30px 0px 0px;
    }
    .headerContainer a {
        cursor: pointer;
        color: white;
        text-decoration: none;
        -webkit-transition: 0.15s ease-in-out;
        -moz-transition: 0.15s ease-in-out;
        -o-transition: 0.15s ease-in-out;
        -ms-transition: 0.15s ease-in-out;
        transition: 0.15s ease-in-out;
    }
    .headerContainer a:hover {
        color: #dfa83a;
    }
    .headerTitle {
        font: bold 18px/36px "Bad Script", cursive;
        color: #fff;
        margin-left: 12px;
    }
    .linksContainer {
        width: 100%;
        margin: 20px auto;
        text-align: center;
    }
    .linkEmail, .linkFacebook, .linkSlack, .linkGithub, .linkLinkedIn {
        width: 12vw;
        height: 12vw;
        margin: 2.5vw;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: inline-block;
        -webkit-transition: 0.15s ease-in-out;
        -moz-transition: 0.15s ease-in-out;
        -o-transition: 0.15s ease-in-out;
        -ms-transition: 0.15s ease-in-out;
        transition: 0.15s ease-in-out;
    }
    .linkEmail:hover, .linkFacebook:hover, .linkLinkedIn:hover, .linkSlack:hover, .linkGithub:hover {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: inline-block;
    }
    .linkEmail {
        background-image: url('../img/email.svg');
    }
    .linkEmail:hover {
        background-image: url('../img/emailBlue.svg');
    }
    .linkFacebook {
        background-image: url('../img/fbIcon.svg');
    }
    .linkFacebook:hover {
        background-image: url('../img/fbIconBlue.svg');
    }
    .linkLinkedIn {
        background-image: url('../img/liIcon.svg');
    }
    .linkLinkedIn:hover {
        background-image: url('../img/liIconBlue.svg');
    }
    .linkSlack {
        background-image: url('../img/slIcon.svg');
    }
    .linkSlack:hover {
        background-image: url('../img/slIconBlue.svg');
    }
    .linkGithub {
        background-image: url('../img/gitIcon.svg');
    }
    .linkGithub:hover {
        background-image: url('../img/gitIconBlue.svg');
    }
    .form {
        display: block;
        width: 90vw;
        margin: 0 auto;
    }
    .form p {
        font-size: 24px;
        font-weight: bold;
        margin: 12px auto;
    }
    .form input {
        display: block;
        font: 16px "Cabin", sans-serif;
        padding: 9px 12px;
        border: none;
        background-color: #eeeeee;
        color: #222222;
        width: 90vw;
        margin-bottom: 12px;
    }
    .form textarea {
        display: block;
        font: 16px "Cabin", sans-serif;
        padding: 9px 12px;
        border: none;
        background-color: #eeeeee;
        color: #222222;
        width: 90vw;
        height: 120px;
        margin-bottom: 12px;
    }
    #submitButton {
        width: 100px;
        height: 36px;
        font: 16px "Cabin", sans-serif;
        font-weight: bold;
        color: #fff;
        background-color: #0644fb;
        border-radius: 5px;
    }
    .thanks {
        width: 100%;
        text-align: center;
        font-size: 42px;
        margin-top: 60px;
    }
    /*All Views*/
    .contentWrapper {
        position: fixed;
        top: 90px;
        bottom: 70px;
        left: 0;
        right: 0;
        margin: 0 auto;
        overflow: auto;
        background-color: rgba(255, 255, 255);
    }
    .viewTopper {
        width: 100%;
        height: 12vw;
        font: bold 40px/60px "Cabin", sans-serif;
        padding-left: 0px;
        /*margin-top: 15px;*/
        margin-bottom: 25px;
        color: #0644fb;
        text-align: center;
    }
    /*Home page content*/
    .mainBlurb {
        width: 100%;
        margin-top: 10vh;
        font: bold 5vw/5.75vw "Cabin", sans-serif;
        color: black;
        text-align: center;
        text-shadow: 2px 2px 1px rgba(255, 255, 255, 1);
    }
    .mainBlurb span {
        font-size: 8vw;
    }
    .wwQuote {
        position: fixed;
        bottom: 15%;
        right: 8%;
        display: inline-block;
        width: 100%;
        margin-top: 80px;
        text-align: right;
        ;
        color: black;
        font: bold 20px/30px "Cabin", sans-serif;
        text-shadow: 2px 2px 1px rgba(255, 255, 255, 1);
    }
    .wwQuote strong {
        font: bold 7vw/10vw "Bad Script", cursive;
        color: #dfa83a;
    }
    .wwQuote span {
        text-align: right;
        font: bold italic 16px/30px "Cabin", sans-serif;
    }
    /*Work Page*/
    .projectArea {
        width: 100%;
    }
    .projectArea a {
        text-decoration: none;
    }

    .workBlurb {
        display: block;
        width: 100%;
        padding-left: 0%;
        margin-right: 0%;
        margin-bottom: 5%;
        vertical-align: top;
    }
    .workBlurb h3 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 12px;
        padding-left: 5%;
        padding-right: 5%;
    }
    .workBlurb h4 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 12px;
        padding-left: 5%;
        padding-right: 5%;
    }
    .workBlurb p {
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 12px;
    }
    .workBlurb li {
        display: inline;
        margin: 0 5%;
    }
    .tech {
        width: 100%;
    }
    .projectWindow {
        display: block;
        width: 100%;
        margin-bottom: 10%;
    }
    .projectWindow img {
        width: 100%;
    }
    /*About Page*/
    .aboutArea {
        width: 100%;
    }
    .aboutSidebar {
        display: block;
        width: 100%;
        text-align: left;
        padding-left: 5%;
        margin-bottom: 5%;
    }
    .personalBlurb p:nth-child(1) {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .skillsContainer {
        width: 90%;
        max-width: 300px;
    }
    .skillsTitle {
        font: 30px/40px "VT323";
        margin-bottom: 12px;
        margin-top: 12px;
    }
    .skillsImages {
        width: 33.33%;
    }
    .skillsImages img {
        width: 100%;
        height: auto;
    }
    .interests {
        display: block;
        width: 100%;
        text-align: left;
        padding-left: 5%;
    }
    .intIcon {
        width: 19%;
        max-width: 120px;
        height: 70px;
        margin: 5%;
        vertical-align: top;
        display: inline-block;
    }
    .intIcon img {
        width: 100%;
        height: auto;
    }
    .intDesc {
        position: relative;
        top: 25%;
        width: 150%;
        vertical-align: middle;
    }
    .intDesc p:nth-child(1) {
        font-size: 16px;
        font-weight: bold;
        line-height: 17px;
    }
    /*Footer content*/
    #footer {
        width: 100%;
        height: 70px;
        position: absolute;
        bottom: 0;
        left: 0;
        font: 15px/20px "Cabin", sans-serif;
        text-align: center;
        color: #e2e2e2;
        background-color: rgba(0, 0, 0, .5);
        padding: 8px;
    }
    .footer p:nth-child(1) {
        display: none;
    }
}
