/* BEGIN RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display: block;}
body{line-height: 1;margin: 1em;}
ol,ul{list-style: none;}
blockquote,q{quotes: none;}
blockquote:before,blockquote:after,q:before,q:after{content: '';content: none;}
table{border-collapse: collapse;border-spacing: 0;}
/* END RESET */

body { 
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: #F6FBFF;
  text-align: center;
  -moz-box-sizing: border-box;
  box-shadow: border-box;
}

.switch {
  position: relative;
  height: 26px;
  width: 120px;
  margin: 12px auto;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}
.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}


.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.85);
  /*text-shadow: 0 1px rgba(255, 255, 255, 0.25);*/
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -ms-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 60px;
  /* Note: left: 50%; doesn't transition in WebKit */
}

.switch-selection {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  display: block;
  width: 58px;
  height: 22px;
  border-radius: 3px;
  background-color: #2A4E6E;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #89b0d2), color-stop(100%, #2A4E6E));
  background-image: -webkit-linear-gradient(top, #89b0d2, #2A4E6E);
  background-image: -moz-linear-gradient(top, #89b0d2, #2A4E6E);
  background-image: -ms-linear-gradient(top, #89b0d2, #2A4E6E);
  background-image: -o-linear-gradient(top, #89b0d2, #2A4E6E);
  background-image: linear-gradient(top, #89b0d2, #2A4E6E);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -ms-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

#locationInput {
  display: block;
  margin: 3px auto;
  width: 292px;
  line-height: 24px;
  text-align: center;
  font-size: 18px;
  background-color: white;
  padding: 3px;
  color: #2A4E6E;
  border: #2A4E6E 1px solid;
  border-radius: 3px;
}

#submit {
  display: block;
  margin: 3px auto;
  width: 300px;
  line-height: 24px;
  font-size: 18px;
  background-color: white;
  padding: 3px;
  color: #2A4E6E;
  border: #2A4E6E 1px solid;
  border-radius: 3px;
  cursor: pointer;
}

#submit:active {
  position: relative;
  top: 1px;
  width: 297px;
  line-height: 23px;
}

/* entire container, keeps perspective */

.flip-container {
  perspective: 1000px;
  display: inline-block;
}


/* flip the pane horizontally when hovered */

.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

/* flip speed goes here */

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap (celsius side) */

.farenheit,
.celsius {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* farenheit pane, placed above celsius */

.farenheit {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back/celsius, initially hidden pane */

.celsius {
  transform: rotateY(180deg);
}

/* all containers have the same size and border */

.flip-container,
.farenheit,
.celsius,
.card {
  width: 400px
}

.card {
  background: #6F8BA5;
  border-radius: 3px;
  display: inline-block;
  margin-top: 1rem;
  position: relative;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.location {
  background-color: #2A4E6E;
  color: white;
  padding: 21px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.cityState {
  font-size: 36px;
  margin-bottom: 12px;
}

.temp, .wind {
  font-size: 21px;
  margin: 20px;
}

.temp img {
  width: 120px;
  height: 120px;
}

.currTemp {
  margin-top: 10px;
  font-size: 60px;
}

.degMarker{
  position: relative;
  top: -23px;
  font-size: 25px;
}

.feelsLikeTemp {
  font-style: italic;
  font-size: 15px;
}
